<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoAPU</title>
    <link rel="stylesheet" href="./build/main.css" />
    <link rel="icon" href="../images/icono geo.ico" type="image/png" />
    <script src="../middleware/check-auth.js"></script>
    <link href="https://fonts.cdnfonts.com/css/museo-sans-rounded" rel="stylesheet" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
</head>

<style>
    .bg-fixed {
        background-image: url("../images/equipos.jpeg");
        /* Ruta a tu imagen de fondo */
        background-color: rgba(0, 0, 0, 0.5);
        /* Oscurece la imagen */
        background-blend-mode: darken;
        /* Mezcla el color de fondo con la imagen */
        background-size: cover;
        /* Asegura que la imagen cubra toda la pantalla */
        background-position: center;
        /* Centra la imagen */
        background-attachment: fixed;
        /* Hace que la imagen sea estática */
    }
</style>

<body style="font-family: 'Museo Sans Rounded', sans-serif" class="bg-fixed">

    <div class="h-full w-full">
        <nav role="navigation" class="bg-white shadow xl:block hidden fixed w-full z-50" id="navegador-principal">
            <div class="mx-auto container px-6 py-2 xl:py-0">
                <div class="flex items-center justify-between">
                    <div class="inset-y-0 left-0 flex items-center xl:hidden">
                        <div
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-gray-100 focus:outline-none transition duration-150 ease-in-out">
                            <div class="visible xl:hidden">
                                <ul
                                    class="p-2 border-r bg-white absolute rounded left-0 right-0 shadow mt-8 md:mt-8 hidden">



                                    <li class="border-b border-gray-300 flex xl:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-pink-700 flex items-center focus:text-pink-700 focus:outline-none"
                                        onclick="window.location.href='./equipment-module.html'">
                                        >
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-code" width="20" height="20"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <polyline points="7 8 3 12 7 16"></polyline>
                                            <polyline points="17 8 21 12 17 16"></polyline>
                                            <line x1="14" y1="4" x2="10" y2="20"></line>
                                        </svg>
                                        <span class="ml-2 font-bold">Equipos</span>
                                    </li>
                                    <li class="border-b border-gray-300 flex xl:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-pink-700 flex items-center focus:text-pink-700 focus:outline-none"
                                        onclick="window.location.href='./material-module.html'">
                                        >
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-code" width="20" height="20"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <polyline points="7 8 3 12 7 16"></polyline>
                                            <polyline points="17 8 21 12 17 16"></polyline>
                                            <line x1="14" y1="4" x2="10" y2="20"></line>
                                        </svg>
                                        <span class="ml-2 font-bold">Materiales</span>
                                    </li>
                                    <li class="border-b border-gray-300 flex xl:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-pink-700 flex items-center focus:text-pink-700 focus:outline-none"
                                        onclick="window.location.href='./labour-module.html'">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-code" width="20" height="20"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <polyline points="7 8 3 12 7 16"></polyline>
                                            <polyline points="17 8 21 12 17 16"></polyline>
                                            <line x1="14" y1="4" x2="10" y2="20"></line>
                                        </svg>
                                        <span class="ml-2 font-bold">Mano de Obra</span>
                                    </li>
                                    <li class="border-b border-gray-300 flex xl:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-pink-700 flex items-center focus:text-pink-700 focus:outline-none"
                                        onclick="window.location.href='./transport-module.html'">
                                        >
                                        <span class="ml-2 font-bold">Transporte</span>
                                    </li>
                                    <li
                                        class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-pink-700 flex items-center focus:text-pink-700 focus:outline-none">
                                        <div class="flex items-center">
                                            <div
                                                class="w-12 cursor-pointer flex text-sm border-2 border-transparent rounded focus:outline-none focus:border-white transition duration-150 ease-in-out">
                                                <img class="rounded h-10 w-10 object-cover"
                                                    src="https://tuk-cdn.s3.amazonaws.com/assets/components/horizontal_navigation/hn_1.png"
                                                    alt="logo" />
                                            </div>
                                            <p class="text-sm ml-2 cursor-pointer">Jesus Cuadro</p>
                                            <div class="sm:ml-2 text-white relative">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-chevron-down cursor-pointer"
                                                    width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                                    stroke="currentColor" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li
                                        class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-pink-700 focus:text-pink-700 focus:outline-none">
                                        <div class="flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-Material" width="20" height="20"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <circle cx="12" cy="7" r="4" />
                                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                            </svg>
                                            <span class="ml-2">Perfil</span>
                                        </div>
                                    </li>
                                </ul>
                                <svg onclick="MenuHandler(this,true)" aria-haspopup="true" aria-label="Main Menu"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <line x1="4" y1="8" x2="20" y2="8"></line>
                                    <line x1="4" y1="16" x2="20" y2="16"></line>
                                </svg>
                            </div>
                            <div class="hidden close-m-menu text-gray-700" onclick="MenuHandler(this,false)">
                                <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="18" y1="6" x2="6" y2="18" />
                                    <line x1="6" y1="6" x2="18" y2="18" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <button
                        class="focus:outline-none rounded-md flex w-full sm:w-auto items-center sm:items-stretch justify-end sm:justify-start"
                        onclick="window.location.href='./main.html'">
                        <div class="flex items-center">
                            <img class="h-15 w-20" src="https://i.imgur.com/eSo1TAN.png" alt="logo" />
                        </div>
                    </button>
                    <div class="flex">
                        <div class="hidden xl:flex md:mr-6 xl:mr-16">

                            <a href="./equipment-module.html"
                                class="focus:text-pink-700 border-b-2 border-transparent focus:border-pink-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out"
                                style="text-align: center">
                                Equipos
                            </a>
                            <a href="./material-module.html"
                                class="focus:text-pink-700 border-b-2 border-transparent focus:border-pink-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out"
                                style="text-align: center">
                                Materiales
                            </a>
                            <a href="./labour-module.html"
                                class="focus:text-pink-700 border-b-2 border-transparent focus:border-pink-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out"
                                style="text-align: center">
                                Mano de Obra
                            </a>
                            <a href="./transport-module.html"
                                class="focus:text-pink-700 border-b-2 border-transparent focus:border-pink-700 flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none transition duration-150 ease-in-out"
                                style="text-align: center">
                                Transporte
                            </a>
                        </div>
                        <div class="hidden xl:flex items-center">
                            <div class="relative md:mr-6 my-2">
                                <a href="./users-module.html">
                                    <button
                                        class="focus:ring-2 focus:ring-offset-2 focus:ring-pink-700 focus:text-pink-700 focus:outline-none bg-gray-100 border-gray-300 border transition duration-150 ease-in-out hover:bg-gray-300 rounded text-gray-600 px-5 py-2 text-xs">
                                        Usuarios
                                    </button>
                                </a>
                            </div>
                            <div class="ml-6 relative">
                                <button aria-label="dropdown"
                                    class="focus:outline-none border-b-2 border-transparent focus:border-pink-700 py-3 focus:text-pink-700 text-gray-600 hover:text-pink-700 flex items-center relative"
                                    onclick="dropdownHandler(this)">
                                    <ul
                                        class="p-2 w-40 border-r bg-white absolute rounded right-0 shadow top-0 mt-16 hidden">
                                        <li
                                            class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-pink-700 focus:text-pink-700 focus:outline-none">
                                            <a href=""
                                                class="focus:underline focus:text-pink-700 focus:outline-none flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-user" width="20" height="20"
                                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" />
                                                    <circle cx="12" cy="7" r="4" />
                                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                </svg>
                                                <span class="ml-2">Mi Perfil</span>
                                            </a>
                                        </li>
                                        <li
                                            class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-pink-700 focus:text-pink-700 focus:outline-none">
                                            <a href=""
                                                class="focus:underline focus:text-pink-700 focus:outline-none flex items-center"
                                                onclick="logout()">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span class="ml-2">Cerrar Sesión</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div
                                        class="cursor-pointer flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out">
                                        <img class="rounded-full h-10 w-10 object-cover" src="" alt="foto de perfil"
                                            id="userPhoto" class="user-photo" />
                                    </div>
                                    <div class="ml-2">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20"
                                            height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <polyline points="6 9 12 15 18 9"></polyline>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <nav>
            <div class="py-4 px-6 w-full flex xl:hidden justify-between items-center bg-white fixed top-0 z-40">
                <div aria-label="logo" role="img" tabindex="0" class="focus:outline-none w-24">
                    <a href="./main.html">
                        <img class="h-10 w-15" src="https://i.imgur.com/eSo1TAN.png" alt="logo" />
                    </a>
                </div>
                <div class="flex items-center">
                    <div class="relative mr-6">
                        <a href="./users-module.html">
                            <button
                                class="focus:ring-2 focus:ring-offset-2 focus:ring-pink-700 focus:text-pink-700 focus:outline-none bg-gray-100 border-gray-300 border transition duration-150 ease-in-out hover:bg-gray-300 rounded text-gray-600 px-5 py-2 text-xs">
                                Usuarios
                            </button>
                        </a>
                    </div>
                    <button id="menu" aria-label="open menu"
                        class="focus:outline-none focus:ring-2 focus:ring-gray-600 rounded-md text-gray-800"
                        onclick="sidebarHandler(true)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="6" x2="20" y2="6" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="4" y1="18" x2="20" y2="18" />
                        </svg>
                    </button>
                </div>
            </div>
            <!--Mobile responsive sidebar-->
            <div class="absolute w-full h-full transform -translate-x-full z-40 xl:hidden" style="position: fixed"
                id="mobile-nav">
                <div class="bg-gray-800 opacity-50 w-full h-full" onclick="sidebarHandler(false)"></div>
                <div
                    class="w-64 z-40 fixed overflow-y-auto z-40 top-0 bg-white shadow h-full flex-col justify-between xl:hidden pb-4 transition duration-150 ease-in-out">
                    <div class="px-6 h-full">
                        <div class="flex flex-col justify-between h-full w-full">
                            <div>
                                <div class="mt-6 flex w-full items-center justify-between">
                                    <div class="flex items-center justify-between w-full">
                                        <div class="flex items-center">
                                            <a href="./main.html">
                                                <img class="h-10 w-15" src="https://i.imgur.com/eSo1TAN.png"
                                                    alt="logo" />
                                            </a>
                                            <p tabindex="0"
                                                class="focus:outline-none text-base md:text-2xl text-gray-800 ml-3">
                                                GeoAPU
                                            </p>
                                        </div>
                                        <button id="cross" aria-label="close menu"
                                            class="focus:outline-none focus:ring-2 rounded-md text-gray-800"
                                            onclick="sidebarHandler(false)">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-x" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <ul class="f-m-m">


                                    <li>
                                        <a class="cursor-pointer" href="./equipment-module.html">
                                            <div class="text-gray-800 pt-10">
                                                <div class="flex items-center">
                                                    <p tabindex="0"
                                                        class="focus:outline-none focus:text-pink-600 text-gray-800 xl:text-base md:text-2xl text-base ml-3">
                                                        Equipos
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cursor-pointer" href="./material-module.html">
                                            <div class="text-gray-800 pt-10">
                                                <div class="flex items-center">
                                                    <p tabindex="0"
                                                        class="focus:outline-none focus:text-pink-600 text-gray-800 xl:text-base md:text-2xl text-base ml-3">
                                                        Materiales
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cursor-pointer" href="./labour-module.html">
                                            <div class="text-gray-800 pt-10">
                                                <div class="flex items-center">
                                                    <p tabindex="0"
                                                        class="focus:outline-none focus:text-pink-600 text-gray-800 xl:text-base md:text-2xl text-base ml-3">
                                                        Mano de Obra
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="cursor-pointer" href="./transport-module.html">
                                            <div class="text-gray-800 pt-10">
                                                <div class="flex items-center">
                                                    <p tabindex="0"
                                                        class="focus:outline-none focus:text-pink-600 text-gray-800 xl:text-base md:text-2xl text-base ml-3">
                                                        Transporte
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-full pt-4">
                                <div class="border-t border-gray-300">
                                    <div class="w-full flex items-center justify-between pt-1">
                                        <div class="flex items-center">
                                            <img alt="foto de perfil" src="" tabindex="0"
                                                class="focus:outline-none w-8 h-8 rounded-md" id="mobileUserPhoto" />
                                            <p tabindex="0"
                                                class="focus:outline-none text-gray-800 text-base leading-4 ml-2"
                                                id="mobileUserName"></p>
                                        </div>
                                        <ul class="flex">
                                            <li class="cursor-pointer text-gray-800 pt-5 pb-3 pl-3">
                                                <div tabindex="0"
                                                    class="focus:outline-none focus:text-pink-600 w-6 h-6 md:w-8 md:h-8">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="icon icon-tabler icon-tabler-user" width="20" height="20"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" />
                                                        <circle cx="12" cy="7" r="4" />
                                                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                    </svg>
                                                </div>
                                            </li>
                                            <li class="cursor-pointer text-gray-800 pt-5 pb-3 pl-3">
                                                <div tabindex="0"
                                                    class="focus:outline-none focus:text-pink-600 w-6 h-6 md:w-8 md:h-8"
                                                    onclick="logout()">
                                                    <i class="fas fa-sign-out-alt"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="content-container" class="w-full relative top-[110px] block flex flex-col">
        <div id="title-container" class="w-full block text-center">
            <h1 class="text-6xl text-gray-200">EQUIPOS</h1>

            <p class="text-center text-gray-300 mt-4 mx-20">
                Este módulo permite gestionar los equipos disponibles, incluyendo la
                adición, edición y eliminación de equipos. También se puede visualizar
                la información detallada de cada equipo, como su descripción, marca,
                tipo y tarifa por día.
            </p>

            <button class="bg-green-500 text-white px-4 py-2 rounded mt-10 w-80 text-gray-200" onclick="openAddModal()">
                <i class="fa-solid fa-plus text-gray-200"></i>
                AGREGAR EQUIPO
            </button>
        </div>

        <div class="table-container mx-10 overflow-x-auto relative top-[50px]">

            <table id="listingTable" class="min-w-full bg-gray-100 border rounded-lg mb-5">

                <div class="flex justify-center mb-4 w-4/5 mx-auto">
                    <input type="text" id="searchInput" onkeyup="searchTable()"
                        placeholder="Buscar en la tabla equipos..." class="px-4 py-2 border rounded w-full">
                </div>

                <thead style="background-color: rgb(34, 34, 34)">
                    <tr class="text-center">
                        <th class="py-2 border-b border-r text-center" onclick="sortTable(0)">
                            <div class="flex items-center justify-center text-gray-50">
                                ID
                                <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                        color="white">
                                        <path
                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </th>

                        <th class="py-2 border-b border-r text-center" onclick="sortTable(1)">
                            <div class="flex items-center justify-center text-gray-50">
                                FOTO
                                <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                        color="white">
                                        <path
                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </th>

                        <th class="py-2 border-b border-r text-center" onclick="sortTable(2)">
                            <div class="flex items-center justify-center text-gray-50">
                                DESCRIPCIÓN
                                <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                        color="white">
                                        <path
                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th class="py-2 border-b border-r text-center" onclick="sortTable(3)">
                            <div class="flex items-center justify-center text-gray-50">
                                MARCA
                                <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                        color="white">
                                        <path
                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th class="py-2 border-b border-r text-center" onclick="sortTable(4)">
                            <div class="flex items-center justify-center text-gray-50">
                                TIPO
                                <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                        color="white">
                                        <path
                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </th>

                        <th class="py-2 border-b border-r text-center" onclick="sortTable(5)">
                            <div class="flex items-center justify-center text-gray-50">
                                TARIFA POR DIA
                                <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                        color="white">
                                        <path
                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th class="py-2 border-b border-r text-center" onclick="sortTable(6)">
                            <div class="flex items-center justify-center text-gray-50">
                                ACCIONES
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="data-table" class="text-center"></tbody>
            </table>
        </div>
    </div>

    <!-- Modal para agrega equipos -->
    <div id="addModal"
        class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-50 overflow-auto">
        <div class="bg-white p-6 rounded-lg w-[40em] m-auto relative">
            <h2 class="text-xl mb-4">Agregar Equipos</h2>
            <form id="addEquipoForm" action="/addEquipo" method="post" enctype="multipart/form-data">
                <div class="mb-4">
                    <div class="mb-4 flex flex-col items-center">
                        <label class="block text-gray-700">Previsualización de Imagen:</label>
                        <img id="addPhotoPreview" src="../images/image-preview.png" alt="Previsualización de Imagen"
                            class="w-32 h-32 object-cover border rounded-full" />
                    </div>
                    <div class="mb-4">
                        <label for="addEquipoPhoto" class="block text-gray-700">Foto:</label>
                        <input type="file" name="foto_equipo" id="addEquipoPhoto"
                            class="w-full px-3 py-2 border rounded" accept="image/*" required />
                    </div>

                    <label for="addEquipoDescripcion" class="block text-gray-700">Descripción:</label>
                    <input type="text" id="addEquipoDescripcion" class="w-full px-3 py-2 border rounded" required />
                </div>
                <div class="mb-4">
                    <label for="addEquipoMarca" class="block text-gray-700">Marca:
                    </label>
                    <input type="text" id="addEquipoMarca" class="w-full px-3 py-2 border rounded" />
                </div>
                <div class="mb-4">
                    <label for="addEquipoTipo" class="block text-gray-700">Tipo:</label>
                    <div class="relative">
                        <input id="addEquipoTipo" type="text"
                            class="py-3 px-4 block w-full border rounded border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" />
                    </div>
                </div>
                <div class="mb-4">
                    <label for="addEquipoTarifa" class="block text-gray-700">Tarifa por dia:</label>
                    <input type="number" id="addEquipoTarifa" class="w-full px-3 py-2 border rounded" step="0.01"
                        min="0" required />
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeModal()">
                        Cancelar
                    </button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
                        Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para confirmar eliminación -->
    <div id="deleteModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg">
            <h2 class="text-xl mb-4">Confirmar Eliminación</h2>
            <p id="deleteMessage" class="mb-4"></p>
            <div class="flex justify-end">
                <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2"
                    onclick="closeDeleteModal()">
                    Cancelar
                </button>
                <button type="button" class="bg-red-500 text-white px-4 py-2 rounded" onclick="confirmDelete()">
                    Eliminar
                </button>
            </div>
        </div>
    </div>

    <!-- Modal para editar equipos -->
    <div id="editModal"
        class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-50 overflow-auto">
        <div class="bg-white p-6 rounded-lg w-[40em] m-auto relative">
            <h2 class="text-xl mb-4">Editar Equipos</h2>
            <form id="editEquipoForm" enctype="multipart/form-data">
                <input type="hidden" id="editEquipoId" />
                <div class="mb-4">
                    <div class="flex flex-row justify-around">
                        <div class="mb-4">
                            <label class="block text-gray-700">Imagen Anterior:</label>
                            <img id="currentPhoto" src="" alt="Imagen Anterior"
                                class="w-32 h-32 object-cover border rounded-full" />
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700">Nueva Imagen:</label>
                            <img id="newPhotoPreview" class="w-32 h-32 object-cover border rounded-full" />
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="editEquipoPhoto" class="block text-gray-700">Foto:</label>
                        <input type="file" id="editEquipoPhoto" class="w-full px-3 py-2 border rounded" accept="image/*"
                            name="foto_equipo" />
                    </div>
                    <label for="editEquipoDescripcion" class="block text-gray-700">Descripción:</label>
                    <input type="text" id="editEquipoDescripcion" class="w-full px-3 py-2 border rounded" />
                    <label for="editEquipoMarca" class="block text-gray-700">Marca:</label>
                    <input type="text" id="editEquipoMarca" class="w-full px-3 py-2 border rounded" />
                    <label for="editEquipoTipo" class="block text-gray-700">Tipo:</label>

                    <div class="relative">
                        <input id="editEquipoTipo" type="text"
                            class="py-3 px-4 block w-full border rounded border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" />
                    </div>
                    <label for="editEquipoTarifa" class="block text-gray-700">Tarifa por dia:</label>
                    <input type="number" id="editEquipoTarifa" class="w-full px-3 py-2 border rounded" />
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeModal()">
                        Cancelar
                    </button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded"
                        onclick="showConfirmationModal()">
                        Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de confirmación de la actualización -->
    <div id="confirmationModal"
        class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-50">
        <div class="bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold mb-4">Confirmación</h2>
            <p>Material actualizado exitosamente.</p>
            <div class="mt-4 flex align-center justify-center">
                <button id="refreshPageButton" class="bg-blue-500 text-white px-4 py-2 rounded">
                    Aceptar
                </button>
            </div>
        </div>
    </div>

    <script src="../js/nav.js"></script>
    <script src="../js/equipment-module.js"></script>

    <script src="https://kit.fontawesome.com/a233ca1469.js" crossorigin="anonymous"></script>
</body>

</html>