<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./build/main.css" />
    <link rel="stylesheet" type="text/css" href="./build/cards.css">
    <link rel="icon" href="../images/icono geo.ico" type="image/png" />
    <script src="../middleware/check-auth.js"></script>
    <link href="https://fonts.cdnfonts.com/css/museo-sans-rounded" rel="stylesheet" />

    <title>GeoAPU</title>

</head>

<style>
    .bg-fixed {
        background-image: url('../images/hojas_oscuras.png');
        /* Ruta a tu imagen de fondo */
        background-color: rgba(0, 0, 0, 0.5);
        /* Oscurece la imagen */
        background-blend-mode: darken;
        /* Mezcla el color de fondo con la imagen */
        background-size: cover;
        /* Asegura que la imagen cubra toda la pantalla */
        background-position: center;
        /* Centra la imagen */
        background-attachment: fixed;
        /* Hace que la imagen sea estática */
    }
</style>

<body style="font-family: 'Museo Sans Rounded', sans-serif" class="bg-fixed">
    <div class="h-full w-full">
        <!-- Code block starts -->
        <nav role="navigation" class="bg-white shadow xl:block hidden">
            <div class="mx-auto container px-6 py-2 xl:py-0">
                <div class="flex items-center justify-between">
                    <div class="inset-y-0 left-0 flex items-center xl:hidden">
                        <div
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-gray-100 focus:outline-none transition duration-150 ease-in-out">
                            <div class="visible xl:hidden">
                                <ul
                                    class="p-2 border-r bg-white absolute rounded left-0 right-0 shadow mt-8 md:mt-8 hidden">
                                    <div class="flex items-center">
                                        <div
                                            class="w-12 cursor-pointer flex text-sm border-2 border-transparent rounded focus:outline-none focus:border-white transition duration-150 ease-in-out">
                                            <img class="rounded h-10 w-10 object-cover"
                                                src="https://i.imgur.com/gubXaPN.png" alt="logo" />
                                        </div>
                                        <p class="text-sm ml-2 cursor-pointer">
                                            Jesus Cuadro
                                        </p>
                                        <div class="sm:ml-2 text-white relative">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-chevron-down cursor-pointer"
                                                width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                        </div>
                                    </div>
                                    <li
                                        class="ursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-pink-700 focus:text-pink-700 focus:outline-none">
                                        <div class="flex items-center">
                                            <a href=""
                                                class="focus:underline focus:text-pink-700 focus:outline-none flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-user" width="20" height="20"
                                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" />
                                                    <circle cx="12" cy="7" r="4" />
                                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                </svg>
                                                <span class="ml-2">Mi Perfil</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <svg onclick="MenuHandler(this,true)" aria-haspopup="true" aria-label="Main Menu"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <line x1="4" y1="8" x2="20" y2="8"></line>
                                    <line x1="4" y1="16" x2="20" y2="16"></line>
                                </svg>
                            </div>
                            <div class="hidden close-m-menu text-gray-700" onclick="MenuHandler(this,false)">
                                <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="18" y1="6" x2="6" y2="18" />
                                    <line x1="6" y1="6" x2="18" y2="18" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <button class="flex w-full sm:w-auto items-center sm:items-stretch justify-end sm:justify-start">
                        <div class="flex items-center">
                            <img src="https://i.imgur.com/xQhZRWX.png" class="h-20 w-25 m-5" alt="" />
                        </div>
                    </button>
                    <div class="hidden xl:flex items-center">
                        <div class="relative md:mr-6 my-2">
                            <a href="./users-module.html">
                                <button
                                    class="focus:ring-2 focus:ring-offset-2 focus:ring-pink-700 focus:text-pink-700 focus:outline-none bg-gray-100 border-gray-300 border transition duration-150 ease-in-out hover:bg-gray-300 rounded text-gray-600 px-5 py-2 text-xs">
                                    Usuarios
                                </button>
                            </a>
                        </div>
                        <div class="ml-6 relative">
                            <button aria-label="dropdown"
                                class="focus:outline-none border-b-2 border-transparent focus:border-pink-700 py-3 focus:text-pink-700 text-gray-600 hover:text-pink-700 flex items-center relative"
                                onclick="dropdownHandler(this)">
                                <ul
                                    class="p-2 w-40 border-r bg-white absolute rounded right-0 shadow top-0 mt-16 hidden">
                                    <li
                                        class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-pink-700 focus:text-pink-700 focus:outline-none">
                                        <a href=""
                                            class="focus:underline focus:text-pink-700 focus:outline-none flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-user" width="20" height="20"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <circle cx="12" cy="7" r="4" />
                                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                            </svg>
                                            <span class="ml-2">Mi Perfil</span>
                                        </a>
                                    </li>
                                    <li
                                        class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-pink-700 focus:text-pink-700 focus:outline-none">
                                        <a href=""
                                            class="focus:underline focus:text-pink-700 focus:outline-none flex items-center"
                                            id="logout" onclick="logout()">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span class="ml-2">Cerrar Sesión</span>
                                        </a>
                                    </li>
                                </ul>
                                <div
                                    class="cursor-pointer flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out">
                                    <img class="rounded-full h-10 w-10 object-cover" src="" alt="foto de perfil"
                                        id="userPhoto" class="user-photo" />
                                </div>
                                <div class="ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20"
                                        height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <nav>
            <div class="py-4 px-6 w-full flex xl:hidden justify-between items-center bg-white top-0 z-40">
                <div aria-label="logo" role="img" tabindex="0" class="focus:outline-none w-24">
                    <img class="h-10 w-15" src="https://i.imgur.com/xQhZRWX.png" alt="logo" />
                </div>
                <div class="flex items-center">
                    <div class="relative mr-6">
                        <a href="./users-module.html">
                            <button
                                class="focus:ring-2 focus:ring-offset-2 focus:ring-pink-700 focus:text-pink-700 focus:outline-none bg-gray-100 border-gray-300 border transition duration-150 ease-in-out hover:bg-gray-300 rounded text-gray-600 px-5 py-2 text-xs">
                                Usuarios
                            </button>
                        </a>
                    </div>
                    <button id="menu" aria-label="open menu"
                        class="focus:outline-none focus:ring-2 focus:ring-gray-600 rounded-md text-gray-800"
                        onclick="sidebarHandler(true)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="6" x2="20" y2="6" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="4" y1="18" x2="20" y2="18" />
                        </svg>
                    </button>
                </div>
            </div>

            <!--Mobile responsive sidebar-->
            <div class="absolute w-full h-full transform -translate-x-full z-40 xl:hidden top-0" style="position: fixed"
                id="mobile-nav">
                <div class="bg-gray-800 opacity-50 w-full h-full" onclick="sidebarHandler(false)"></div>
                <div
                    class="w-64 z-40 fixed overflow-y-auto z-40 top-0 bg-white shadow h-full flex-col justify-between xl:hidden pb-4 transition duration-150 ease-in-out">
                    <div class="px-6 h-full">
                        <div class="flex flex-col justify-between h-full w-full">
                            <div>
                                <div class="mt-6 flex w-full items-center justify-between">
                                    <div class="flex items-center justify-between w-full">
                                        <img class="h-10 w-15" src="https://i.imgur.com/xQhZRWX.png" alt="logo" />
                                        <p tabindex="0"
                                            class="focus:outline-none text-base md:text-2xl text-gray-800 ml-3">
                                            GeoAPU
                                        </p>
                                        <button id="cross" aria-label="close menu"
                                            class="focus:outline-none focus:ring-2 rounded-md text-gray-800"
                                            onclick="sidebarHandler(false)">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-x" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="border-t border-gray-300">
                                <div class="w-full flex items-center justify-between pt-1">
                                    <div class="flex items-center">
                                        <img alt="foto de perfil" src="" tabindex="0"
                                            class="focus:outline-none w-8 h-8 rounded-md" id="mobileUserPhoto" />
                                        <p tabindex="0"
                                            class="focus:outline-none text-gray-800 text-base leading-4 ml-2"
                                            id="mobileUserName"></p>
                                    </div>
                                    <ul class="flex">
                                        <li class="cursor-pointer text-gray-800 pt-5 pb-3 pl-3">
                                            <div tabindex="0"
                                                class="focus:outline-none focus:text-pink-600 w-6 h-6 md:w-8 md:h-8">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-user" width="20" height="20"
                                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" />
                                                    <circle cx="12" cy="7" r="4" />
                                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                </svg>
                                            </div>
                                        </li>
                                        <li class="cursor-pointer text-gray-800 pt-5 pb-3 pl-3">
                                            <div tabindex="0"
                                                class="focus:outline-none focus:text-pink-600 w-6 h-6 md:w-8 md:h-8"
                                                onclick="logout()">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </div>

    <div id="section-cards-container" class="relative top-[4em]">
        <section id="cards-container">

            <div id="container-blue">
                <div class="card-blue">
                    <button
                        class="w-40 h-25 p-2 bg-blue-800 mx-10 my-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-700 rounded-md"
                        name="cards" onclick="window.location.href='./equipment-module.html'">
                        <i class="fa-solid fa-screwdriver-wrench fa-2xl" style="color: #ffffff; font-size: 6em"></i>
                    </button>
                    <p class="mb-10 text-gray-100">EQUIPOS</p>
                </div>
                <div class="card-blue">
                    <button
                        class="w-40 h-25 p-2 bg-blue-800 mx-10 my-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 rounded-md"
                        name="cards" onclick="window.location.href='./material-module.html'">
                        <i class="fa-solid fa-trowel-bricks fa-2xl" style="color: #ffffff; font-size: 6em"></i>
                    </button>
                    <p class="mb-10 text-gray-100">MATERIALES</p>
                </div>
                <div class="card-blue">
                    <button
                        class="w-40 h-25 p-2 bg-blue-800 mx-10 my-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 rounded-md"
                        name="cards" onclick="window.location.href='./labour-module.html'">
                        <i class="fa-solid fa-person-digging fa-2xl" style="color: #ffffff; font-size: 6em"></i>
                    </button>
                    <p class="mb-10 text-gray-100">MANO DE OBRA</p>
                </div>
                <div class="card-blue">
                    <button
                        class="w-40 h-25 p-2 bg-blue-800 mx-10 my-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 rounded-md"
                        name="cards" onclick="window.location.href='./transport-module.html'">
                        <i class="fa-solid fa-truck-pickup fa-2xl" style="color: #ffffff; font-size: 6em"></i>
                    </button>
                    <p class="mb-10 text-gray-100">TRANSPORTE</p>
                </div>
            </div>
        </section>
        <a class="m-auto" href="./projects.html">
            <button
                class="rounded-lg bg-green-500 text-white m-auto text-4xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-700 rounded-md w-[12em] h-[4em] mb-5">
                <i class="fa-solid fa-calculator" style="color: #fff"></i><b> GENERAR OFERTA COMERCIAL</b>
            </button>
        </a>
    </div>

    <script src="../js/nav.js"></script>

    <script src="https://kit.fontawesome.com/a233ca1469.js" crossorigin="anonymous"></script>
</body>

</html>