#section-cards-container {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#cards-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#container-pink{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card-pink{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-blue{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.card-blue{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-pink > .card-pink > button{
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container-blue > .card-blue > button{
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
